@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,700&family=Hanken+Grotesk:wght@300;500;700;800&display=swap');
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  font-family: 'DM Sans', sans-serif;
}

.bottomTitle {
  display: flex;
  justify-content: space-between;
}
